.home{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}
h1
{
    align-items: center;
    position: center;
    color: darkgreen;
    text-align: center;
}
.container{
    padding: 10px 10px 10px 10px;
}
.cardButton{
    background-color: #CD1409;
}
.options{
   display: flex;
   justify-content: center;
    align-items: center;
}
.col{
   
    margin-bottom:20px;
}

.card-image{
    height: 40vh;
}